body, html {
    height: 100%;
}

.header { 
    /* The image used */
    background-image: url("pictures/app_music.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.circle{
     
    display: grid;
  grid-template-columns: 10% 75% 15%;
}
 
.circle .menu_arrow{
     margin-top: 1em;
    margin-left: 1em;
    z-index: 10;
}
.circle .huset{
   margin-top: 1em;
    margin-right: 1em;
     justify-self: end;
}

.circle .gif{
    margin-top: 1em;
      justify-self: end;
    
}

.categories_app{
     display: grid;
  grid-template-columns: 1fr;
     padding-top: 3em;
    
}


.categories_app .category_gradient{
  padding-top: 1em;
    padding-bottom: 1em;
     justify-self: end;
    
}

.categories_app .menu_arrow_category{
     display: grid;
  grid-template-columns: 40% 20% 40%;
      margin-top:-5em;
     
}
.header .circle .gif{
       background-image: url("pictures/giphy.gif");

   height:100%;
    /* Center and scale the image nicely */
    background-position: center
    background-repeat: no-repeat;
    background-size: auto;
}
.concert{
    border: 1px solid red;
    padding: 1.5em;
}

.concert .color{
    width:100px;
    height:100px;
    background-color: aquamarine;
}

.appbar {
  width: 100vw;
  height: var(--header-height);
  top: 0;
  left:0;
    z-index: 10;
}
.appbar, .menu {
  background: teal;
  padding: 1em;
  position: fixed;
}
.menu {
  top: var(--header-height);
  height: 100vh;
  width: 100vw;
  transition: all 0.3s 0.3s;
  color: white;
    top:3em;
}

.menu ul li{
    font-size: 2em;
}
.menu.hidden {
  transform: translateX(-120vw);
}
.container-fluid {
  margin: 1em;
  margin-top: var(--header-height);
}
.menuIcon {
  height: 30px;
  margin-top: 10px;
  margin-left: 12px;
}
.menuIcon rect {
  fill: white;
  transition: all 0.6s;
}
.menuIcon rect:nth-child(1){
  transform-origin: left top;
}
.menuIcon rect:nth-child(3){
  transform-origin: left bottom;
}
.menuIcon rect.fadeOut {
  opacity: 0;
}
.menuIcon rect.rotateUp {
  transform: rotate(-45deg) translate(18px, 41px);
}
.menuIcon rect.rotateDown {
  transform: rotate(45deg) translate(17px, -14px);
}
#concertList {
  display: grid;
  grid-template-columns: 1fr;
}


@media (min-width: 600px)  {
  #concertList {
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 900px)  {
  #concertList {
    grid-template-columns: 1fr 1fr 1fr;
  }

}