* {
    box-sizing: border-box
}

;

body,
html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/* intro */

.header {
    background-image: url("pictures/app_music.png");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -1em;
    left: -1em;

}

.header_intro {

    display: grid;
    grid-template-columns: 30% 60%;
    width: 100%;
    height: auto;


}

.header_intro_music {
    display: grid;
    grid-template-columns: 20% 35% 45%;
    width: 100%;

}

.align_logo {
    position: relative;
    align-self: end;
    justify-self: end;
}

.align_logo_index {
    position: relative;
    align-self: end;
    justify-self: end;
}

.align_logo_index a {
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 8em;
}

.align_logo a {
    cursor: pointer;
    position: absolute;
    top: 3em;
    left: 2em;


}

.header_intro .menu_arrow {
    z-index: 10;
    background-image: url(pictures/menu_up.png);
    width: 60px;
    height: auto;
    background-repeat: no-repeat;
    margin-top: 1em;
    margin-left: 1em;
    transition: 0.2s;
}

.header_intro_music .menu_arrow {
    z-index: 10;
    background-image: url(pictures/menu_up.png);
    width: 60px;
    height: auto;
    background-repeat: no-repeat;
    margin-top: 1em;
    margin-left: 1em;
    transition: 0.2s;
}

.header_intro .menu_arrow:hover {
    z-index: 10;
    background-image: url(pictures/menu_down.png);
    width: 120px;
    height: auto;
    background-repeat: no-repeat;
    margin-top: 2em;
    cursor: pointer;

}

.header_intro_music .menu_arrow:hover {
    z-index: 10;
    background-image: url(pictures/menu_down.png);
    width: 120px;
    height: auto;
    background-repeat: no-repeat;
    margin-top: 3em;
    cursor: pointer;

}


.header_intro .huset {
    margin-top: 1em;
    margin-right: 1em;
    justify-self: start;
    cursor: pointer;
    position: absolute;
    z-index: 50;

}

.header_intro .gif {
    margin-top: 1em;
    margin-left: 10vw;


}

/* CATEGORIES APP */

.categories_app {
    margin-top: 6em;
    width: 100vw;
    margin-right: 0;

}


.categories_app .category_gradient .arrow {
    justify-self: center;
    margin-top: 10px;
}


.categories_app .film {
    background-image: url(pictures/films.png);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.2;
    height: 100px;

}

.categories_app .film:hover {
    background-image: url(pictures/films_hover.png);


}

.categories_app .music {
    background-image: url(pictures/music.png);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.2;
    height: 100px;
    display: block;


}

.category_gradient .music:hover {
    background-image: url(pictures/music_hover.png);

}

.categories_app .category_gradient {
    background-image: url(pictures/menu_button.png);
    width: 65vw;
    height: 14vh;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.2;
    cursor: pointer;
    display: grid;
    grid-template-columns: 40% 60%;
    float: right;


}

.categories_app .category_gradient:hover {
    background-image: url(pictures/menu_button_hover.png);
    width: 65vw;
    height: 14vh;
    background-repeat: no-repeat;

    cursor: pointer;
}

.header .circle .gif {
    left: 0;
    right: 0;
    top: 0;
}


/*SIDE NAV*/

.sidenav {
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 0;
    background: linear-gradient(#6BCDE7, #CDDCE2);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    z-index: 40;

}

.sidenav a {
    padding: 30px 10px 10px 32px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
    font-size: 100;
    font-family: "Avenir Next";
    "Avenir Regular";
    "sans-serif";
    letter-spacing: 1px;

}

.sidenav a:hover {
    color: deeppink;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


@media screen and (min-height: 700px) {

    .header_intro {
        display: grid;
        grid-template-columns: 10% 65% 25%;
    }
    .header_intro .gif {
        align-self: end;
        margin-left: 20vw;

    }

    .categories_app .category_gradient {
        margin-right: 0;
        margin-left: 0;
        height: 200px;

    }
}

/* MUSIC APP MY PART */

.music_body {
    background: linear-gradient(150deg, #73CFE8, #70B4D0, #6C90AF, #6E7393, #7D4050, #7D4050);
}


/* Slideshow container */

.slideshow-container {
    width: 100vw;
    position: relative;
    margin: auto;
    margin-top: 3em;
}

.slideshow-container img {
    width: 100vw;
    height: auto;
}

.slideshow-container .text {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 80%;
    background: rgba(120, 79, 103, 0.8);
    font-family: "Avenir Next Regular";
    "Avenir Light";
    "sans-serif";
    color: white;
    font-size: 1.5em;
    font-size: 100;
    letter-spacing: 3px;
}

.find {
    margin-left: 25vw;
}

/* Hide the images by default */

.mySlides {
    display: none;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;


}

.active,
.dot:hover {
    background-color: red;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* APP */

.concert_list {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    text-align: center;
    color: white;
    opacity: 0.4;
}

#concertList .image_concert {
    width: 100%;
    max-height: 200px;
    overflow-y: hidden;
    object-fit: cover;
    cursor: pointer;
}

.concert:hover .concert_list {
    opacity: 1;
}

.data_concert {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    z-index: 20;
    width: 100vw;
    height: auto;
}

.data_concert .date_and_day {
    padding-left: 1em;
    padding-right: 2em;
    align-content: flex-start;
}

.data_concert .location {
    justify-self: center;
}

.data_concert .genre {
    justify-self: end;
    padding-right: 2em;
}

.descritpion_concert_stream {
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    margin-top: 6em;
    margin-left: 1em;
    z-index: 20;
    width: 100vw;
}

.descritpion_concert_stream a {
    text-decoration: none;
    background: linear-gradient(150deg, #73CFE8, #70B4D0, #6C90AF, #6E7393, #7D4050, #7D4050);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid white;
    z-index: 10;

}

.grid_data a {
    text-decoration: none;
    background: linear-gradient(150deg, #73CFE8, #70B4D0, #6C90AF, #6E7393, #7D4050, #7D4050);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid white;
    z-index: 10;
}

.grid_data a:hover {
    background: linear-gradient(-110deg, #73CFE8, #70B4D0, #6C90AF, #6E7393, #7D4050, #7D4050);
}

.descritpion_concert_stream a:hover {
    background: linear-gradient(-110deg, #73CFE8, #70B4D0, #6C90AF, #6E7393, #7D4050, #7D4050);
}

.descritpion_concert_stream:hover + .image_concert {
    opacity: 1;
}


.descritpion_concert_stream p {
    align-self: center;



}

#concertList .image_concert img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.container_subpage h1 {
    font-family: "Avenir Next Regular";
    "Avenir Light";
    "sans-serif";
    color: white;
    font-size: 1.5em;
    font-size: 100;
    letter-spacing: 1px;
}

.grid_data h1 {
    font-family: "Avenir Next Regular";
    "Avenir Light";
    "sans-serif";
    color: white;
    font-size: 1em;
    font-size: 100;
    letter-spacing: 1px;
}

.grid_data h2 {
    font-family: "Avenir Next Regular";
    "Avenir Light";
    "sans-serif";
    color: white;
    font-size: 1em;
    font-size: 100;
    letter-spacing: 1px;
}

.description {
    font-family: "Avenir Next Regular";
    "Avenir Light";
    "sans-serif";
    color: white;
    font-size: 0.8em;
    font-size: 100;
    letter-spacing: 1px;
}

#concertList h1 {
    font-family: "Avenir Next Regular";
    "Avenir Light";
    "sans-serif";
    color: white;
    font-size: 1em;
    font-size: 100;
    letter-spacing: 1px;
}

#concertList h2 {
    font-family: "Avenir Next Regular";
    "Avenir Light";
    "sans-serif";
    color: white;
    font-size: 1em;
    font-size: 100;
    letter-spacing: 1px;
}


.forms {
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 1fr;



}

select {

    height: 50px;
    font-family: "Avenir Next Regular";
    "Avenir Light";
    "sans-serif";
    color: white;
    font-size: 1.2em;
    font-size: 100;
    letter-spacing: 1px;
    background: transparent;

}

.image_subpage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin-top: 1vh;


}

#singleConcerts {
    position: relative;
    text-align: center;

}

.grid_data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container_subpage {
    position: absolute;
    top: 50vh;
    width: 100%;
    height: auto;
    background: rgba(120, 79, 103, 0.8);
}

option {
    background: purple;
}

[type="date"] {
    background: transparent url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* custom styles */

input {
    border: 1px solid #ccc;
    background-color: transparent;
    color: white;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    height: 50px;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.select_buttom {
    text-decoration: none;
    background: linear-gradient(150deg, #73CFE8, #70B4D0, #6C90AF, #6E7393, #7D4050, #7D4050);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid white;
    z-index: 10;
    cursor: pointer;
    width: 50vw;
    margin-bottom: 3em;

}


.select_buttom:hover {
    text-decoration: none;
    background: linear-gradient(#7D4050, #7D4050);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid white;
    z-index: 10;
}

.subpage_body {
    background: linear-gradient(150deg, #73CFE8, #70B4D0, #6C90AF, #6E7393, #7D4050, #7D4050);
    width: 100vw;
    height: auto;
    background-size: cover;
    background-position: left;

}


.arrow_white {
    position: absolute;
    top: 1vh;
}

.menu_back {

    background-image: url(pictures/arrow_white.png);
    z-index: 100;
    width: 13vw;
    height: 20vh;
    background-repeat: no-repeat;
    margin-left: 1em;
    transition: 0.2s;
    cursor: pointer;

}

.menu_back:hover {

    background-image: url(pictures/arrow_white_hover.png);
    z-index: 100;
    width: 20vw;
    height: 20vh;
    background-repeat: no-repeat;
    margin-left: 1em;
    transition: 0.2s;
}



/* Style inputs, select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 40px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;

}

/* Style the label to display next to the inputs */

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */

input[type=submit] {
    background: linear-gradient(150deg,
    #6E7393, #7D4050, #7D4050);
    padding: 16px 20px;
    border: 4px solid white;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background: linear-gradient(-1100deg,

    #6C90AF, #6E7393, #7D4050,

    #7D4050);
}

/* Floating column for labels: 25% width */

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    background-color: white;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Style inputs, select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */

label {
    padding: 12px 12px 12px 0;
    display: inline-block;

}

/* Style the submit button */

input[type=submit] {

    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Style the container */

.container_contact {

    padding: 20px;
}

.container_c.,
contact h1 {
    margin-left: 20vw;

}

.footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    background: linear-gradient(#6C90AF, #70B4D0, #6BCDE7, #CDDCE2);

}

. .footer_overlap {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.footer .contact-us {
    justify-content: center;
    align-content: center;
}

.footer .contact-us h3 {
    color: #fff;
}

.footer .contact-us p {
    color: #fff;
}

.footer .social-media {
    align-items: center;
}

.footer .social-media img {
    width: 60%;
    height: auto;
}

.logo_footer {
    margin-left: 10vw;
}


}

.footer .social-media .social-media-icons {
    display: inline-block;
    align-self: center;
    justify-content: center;
    margin-left: 10%;
    cursor: pointer;


}

.footer .social-media .social-media-icons img {

    padding: 2%;
    width: 15%;
    height: auto;
    margin-top: 5vh;
}

.footer .social-media p {
    text-align: center;
}

.footer .address h3 {
    color: #fff;
}

.footer .address p {
    color: #fff;
}

.footer .social-media {
    grid-area: 1;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    cursor: pointer;
}

.footer .contact-us,
.footer .address {
    padding-left: 80px;
    padding-right: 80px;
}

.image_music {
    background-image: url("pictures/about.jpg");
    height: 110vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1em;
    opacity: 0.5;
}

.about {

    position: relative;
    text-align: center;
    color: white;
}

.about .descritpion {
    position: absolute;


    top: 0px;
}

@media (min-width: 600px) {
    #concertList {
        grid-template-columns: 1fr 1fr;
    }


}




@media screen and (min-width: 700px) {
    .footer {
        display: grid;
        grid-template-columns: 30% 40% 30%;

    }
    .categories_app .category_gradient {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .forms {
        margin-left: 10%;
        margin-right: 10%;
        align-content: center;
    }

    .find {
        margin-left: 40vw;
    }

    .header_intro_music {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        width: 90%;
        align-content: center;
        margin-right: 5%;
    }

    .header_intro_music .music_logo {
        margin-top: 3em;
        justify-self: end;
    }
}

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

}


@media screen and (min-width: 900px) {
    
     .forms {
        margin-left: 20%;
        margin-right: 20%;
    }

    .header_intro {
        display: grid;
        grid-template-columns: 30% 60%;
        width: 90%;
        height: auto;

    }
    .header_intro_music {
        display: grid;
        grid-template-columns: 30% 50% 20%;
        width: 90%;
        align-content: center;

    }

    .header_intro_music .music_logo {
        width: 200px;
        height: 200px;
    }
    .header_intro .menu_arrow {
        margin-left: 10vw;
        margin-top: 2em;
    }
    .header_intro_music .menu_arrow {
        margin-left: 10vw;
    }
    .align_logo {
        position: relative;
        align-self: center;
        justify-self: center;
        ;
    }

    .align_logo a {
        cursor: pointer;
        position: absolute;
        top: 3em;
        left: 2em;


    }

    .categories_app .category_gradient {
        background-image: url(pictures/menu_button.png);
        width: 90vw;
        height: 14vh;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: 0.2;
        cursor: pointer;
        display: grid;
        grid-template-columns: 10% 60%;

        float: right;


    }

    .categories_app .category_gradient:hover {
        background-image: url(pictures/menu_button_hover.png);
        width: 90vw;
        height: 14vh;
        background-repeat: no-repeat;

        cursor: pointer;
    }
  

  

#concertList .image_concert {
  
    max-height: 300px;
    }}

